node_modules/
.env
.DS_Store
dist/
.vscode/
*.log
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
.idea/
*.sublime-workspace
*.sublime-project
*.vscode/
*.swp
*.swo
.vercel
*.cache
.vercel
.next
.env*.local
tsconfig.tsbuildinfo